server {
    listen 80;
    server_name ${FRONTEND_HOST_NAME}; # e.g. news.example.com

    location / {
        root /usr/share/nginx/html;
    }

    access_log off;
    error_log /var/log/nginx/error.log error;
}

server {
    listen 80;
    server_name ${API_HOST_NAME}; # e.g. api.news.example.com

    location / {
        proxy_pass http://api:${API_PORT};
    }

    access_log off;
    error_log /var/log/nginx/error.log error;
}
